body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aqua;
    align-content: center;
}

h1 {
    color: white
}

.input {
    width: 450px;
    height: 50px;
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 10px;
    border: 2px black solid;
    background-color: white;
    font-size: 18px;
}